.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 500px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin-top: 50px;
}

.book-item {
    background-color: #F7ECEC;
    padding: 0px 25px;
    margin: 16.5px 15px 16.5px 15px;
    min-height: 109px;
    min-width: 409px;
    position: relative;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.454);
}


.bookInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: 409px;
}

.bookInfo p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
}


.bookInfoLeft {
    justify-content: flex-start;
}

.bookInfoCenter {
    justify-content: center;
}

.book-toggle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    display: flex;

}

.authorInfo {
    position: absolute;
    right: 32px;
    top: 65px;
}

.authorInfo p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.borrowerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.error-message {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 70.8;
}

.error-message p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}