.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 80vh;
}

.pageSize{
  width: 1920;
  height: 1080;
}

p {
  font-size: 18px;
  font-weight: 500;
}